{% for blog in blogs %}
<div class="col-sm-4 wow fadeInUp" 
  data-wow-duration="1000ms" data-wow-delay="400ms" style="margin-bottom: 50px">
  <div class="post-thumb">
    <a href="{% url 'frontend:blog_detail' blog.slug %}"><img class="img-responsive" src="{{blog.img1.url}}" alt=""></a> 
  </div>
  <div class="entry-header">
    <h3><a href="{% url 'frontend:blog_detail' blog.slug %}">{{blog.title}}</a></h3>
    <span class="date">{{blog.date}}</span>
    {% comment %} <span class="cetagory">in <strong>Photography</strong></span> {% endcomment %}
  </div>
  <div class="entry-content">
    <p>{{blog.short_desc}}</p>
  </div>
</div>
{% endfor %} 